* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #1abc9c;
}

.wrapper {
    width: 380px;
    border-radius: 5px;
    background: #fff;
}

.wrapper .title {
    line-height: 80px;
    background-color: #16a085;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.wrapper form {
    padding: 30px 20px 25px 20px;
}

.wrapper form .row {
    height: 45px;
    /* background-color: red; */
    margin-bottom: 15px;
    position: relative;

}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    background-color: #16a085;
    border: 1px solid #16a085;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    border-radius: 5px 0 0 5px;
    align-items: center;
}