@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-color: lightgrey;
}

.profile-card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* .profile-card ::before {
    content: "";
    position: absolute;
    height: 36%;
    border-radius: 24px 24px 0 0;
    left: 0;
    width: 100%;
    top: 0;
    background-color: blue;
} */

.image {
    margin-bottom: 10px;
    position: relative;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    background-color: blue;
    position: relative;
    padding: 3px;
}

.image .profile-img {
    height: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name {
    font-size: 24px;
    font-weight: 600;
}

.text-data .job {
    font-size: 18px;
    font-weight: 400;
}

.profile-card .media-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.media-button .link {
    text-decoration: none;
    background-color: blue;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}

.profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button {
    background-color: rgb(45, 45, 180);
    color: #fff;
    margin: 0 10px;
    padding: 8px 24px;
    border-radius: 24px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.buttons .button:hover {
    background-color: blue;
}

.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid black;
}

.data i {
    font-size: 18px;
    margin-right: 2px;
}

.analytics .data:last-child {
    border: none;
}